<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.uji.geotec.wearos_sensors">

    <application>
        <service android:name=".messaging.WearosSensorsResultsMessagingService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPattern="/.*/ready"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPattern="/.*/prepare"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service android:name=".messaging.WearosSensorsRecordsMessagingService">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPattern="/.*/new-record"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>

</manifest>