<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.uji.geotec.wearos_sensors">

    <application>
        <service
            android:name=".messaging.WearosSensorsResultsMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPattern="/.*/ready"
                    android:scheme="wear" />
                <data
                    android:host="*"
                    android:pathPattern="/.*/prepare"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service
            android:name=".messaging.WearosSensorsRecordsMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPattern="/.*/new-record"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service
            android:name=".messaging.WearosSensorsCapabilityAdvertiserService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPattern="/advertise-capabilities"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service
            android:name=".command.WearosCommandService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPattern="/command"
                    android:scheme="wear" />
            </intent-filter>
        </service>

        <service
            android:name=".freemessage.WearosFreeMessageService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />
                <data
                    android:host="*"
                    android:pathPattern="/free-message.*"
                    android:scheme="wear" />
            </intent-filter>
        </service>
    </application>

</manifest>